.banner__feed-item {
		grid-column: 4/-4;
		justify-self: start;
		margin-top: 10px;
		max-width: 800px
}



.feed__item_is-horizontal {
	display: grid;
	border-top: 2px solid black;
	

	@include media('≥500px') {
		grid-template-columns: $medium-image-size 1fr;
		grid-template-rows: $medium-image-size;
		grid-gap: 12px;
		padding-top: 12px;
	}


	@include media('<500px') {
		grid-template-columns: 90px 1fr;
		grid-template-rows: 90px;
		grid-gap: 08px;
		margin: 0 8px 0 14px;
		padding-top: 08px;
	}


	& > .feed-item__image{
		grid-column: 1/2;
		grid-row: 1;
	}

	& > .feed-item__title {
		grid-column: 2/-1;
		grid-row: 1;
		margin-top: -4px;
	}

	& > p {
		grid-column: 2/-1;
		grid-row: 1;
		margin-top: 24px;
	}
}