.banner__feed-item {
		grid-column: 4/-4;
		justify-self: start;
		margin-top: 10px;
		max-width: 800px
}



.feed_item__is-horizontal {
	display: grid;
	

	@include media('≥500px') {
		grid-template-columns: $medium-image-size 1fr;
		grid-template-rows: $medium-image-size;
		grid-gap: 12px;
		padding-top: 12px;
	}


	@include media('<500px') {
		grid-template-columns: 90px 1fr;
		grid-template-rows: 90px;
		grid-gap: 08px;
		margin: 0 8px 0 14px;
		padding-top: 08px;
	}


	& > .feed-item__image{
		grid-column: 1/2;
		grid-row: 1;
	}

	& > .feed-item__title {
		grid-column: 2/-1;
		grid-row: 1;
		margin-top: -4px;
	}

	& > p, ul {
		grid-column: 2/-1;
		grid-row: 1;
		margin-top: 24px;
	}

	& ul {
		@extend %font-size-4; 
		margin: 60px 0 0 0;
		padding: 0 0 0 26px;
	}

	& li { 
		margin: 6px 0 0 0; 
		line-height: 1.2;
		padding: 4px;
	}
}

.feed_item {
	&__blk { border-top: 2px solid $brand-primary__dark; }
	&__grn { border-top: 2px solid $brand-primary__green; }
}



.feed__team-member-wrapper { 
	
	margin: 0 0 180px 0; 

	& .feed_item__is-horizontal:hover { background: none; }
}


.feed__section-title {
	grid-column: 4/-4;
	margin-top: 50px;
	font-weight: 600;
}