.g-in-depth {
	display: grid;
	grid-column: 1/-1;
	@extend %g-gap-1;
	grid-template-columns: repeat(12, 1fr );


	& .feed__item_wrapper {
		justify-self: end;
		margin-top: 10px;
	}

	p { line-height: 1.3; }


	@include media('≤620px') {
		article {
			grid-column: 2/-2;
			margin: 0px;
		}
	}

	@include media('<phone-plus') { & > p { grid-column: 2/-2; } }

	@include media('≥500px') {
		& > p {
			margin: 63px 0 0 0;
		}
	}


	@include media('<500px') {
		& > p {
			margin: 58px 0 0 0;
		}
	}


	@include media('≥phone-plus', '<tablet') {

		article {
			grid-column: 2/-2;
			margin: 0 0;

			& > h2 {
				margin: 68px 0 6px 0;
			}
		}

		& > p { grid-column: 2/-2; }

		.is-flush { 
			@include media('≥phone-plus') {
				margin-left: 0;
			}
			
			@include media('<500px') {
				margin: 0 0 auto 0;
			}
		}
		
		.is-proud { 
			float: left;
			margin: 0;
		 }
		


		.is-full-width, 
		%is-full-width { 
			
			margin: 0;

			@include media('≥tablet') {
				width: 100%;
			}

			@include media('<tablet', '≥phone-plus') {
				width: 90%;
				margin: auto;
			}

			@include media('<phone-plus'){
				margin: 0;
			}

			img {
				width:100%;
			}
		}
	}
	

	@include media('<1000px', '≥tablet') { 
		
		& .feed__item_wrapper, 
		#mc-embedded-subscribe-form
			{ grid-column: 3/10; } 
		
		& > p { 
			grid-column: 3/10;
			margin: 70px 0 0 50px; 
		}
	}


	@include media('≥1000px') {

		& .feed__item_wrapper,
		  .section__sub-head,
		  #mc-embedded-subscribe-form
		  {
			grid-column: 3/10;
			// width: 80%;
		}

		& > p {
			grid-column: 3/5;
			margin: 70px 0 0 96px;
		}

		.is-flush { margin-left: 0; }
		
		.is-proud { 
			float: left;
			margin: 3px 0 0 -$negative-margin;

			@include media('<tablet') { margin: 3px 0 0 0; }
		 }

		
		.is-full-width, 
		%is-full-width { 
			margin-left: -$g-in-depth__margin_is-proud;
			width: calc(100% + #{$negative-margin});

			img {
				width:100%;
			}

			figcaption {
				@include in-depth_left();
				@include font-size-4();
			}
		}
	}


	@include media('<desktop', '≥phone-plus') {
		.audio-player {
			margin-top: 30px;
			margin-right:0;
			margin-bottom: 30px;
			margin-left: 0;
		}
	}

	@include media('≥desktop') {
		.audio-player {
			margin-top: 30px;
			margin-right:0px;
			margin-bottom: 30px;
			margin-left: -$g-in-depth__margin_is-proud;
		}

		.audio-player_in-banner{
			margin: 0 0 0 96px;
		}
	}
}



.caption_is-right {
	display: flex;

	figcaption {
		float: right;
		align-self: center;
		margin: 0 0 0 22px;
		font-family: $serif-stack;
		line-height: 0.6;
		@extend %font-size-1;
		color: $monotone;
	}

	.caption__attribute {
		font-family: $slab-stack;
		line-height: 0;
		@extend %font-size-2;
	}
}



.caption_is-below {
	figcaption {
  		margin: 0 0 0 0;
  		padding: 8px 0 0 8px;
  		font-family: $serif-stack;
  		@extend %font-size-4;
		color: $monotone;


		.caption__attribute {
			font-family: $slab-stack;
			@extend %font-size-6;
		}
	}
	
}


 
share-blocks { grid-column: 2/-2; }



.full-height,
.wrapper-signup { grid-column: 1/-1; }