#team {

	.heading {
		//background-color: $grey-1;
	}

	.content {

		//background-color: $grey-1;

		.inner {
			margin: 0 auto;
			padding: 40px;
			
			ul.team {

				list-style: none;
				margin: 0 -40px -40px 0;

				> li {
					float: left;
					padding: 0 40px 40px 0;
					width: 25%;

					img {
						display: block;
						border-radius: 50%;
					}

					.inner {
						background-color: $white;
						padding: 20px;

						h3 {
							color: $brand-primary__green;
							font-family: $font1;
							font-size: 16px;
							margin-bottom: 0;
						}

						h4 {
							font-family: $font1;
							font-size: 16px;
							margin-bottom: 20px;
						}

						p {
							font-size: 16px;
							line-height: 16px;
						}

						ul {

							padding-left: 20px;
							// list-style-image: url(../../lib/img/bluedash2.png);

    						li {
    							margin-bottom: 5px;

    							&:last-child {
    								margin-bottom: 0;
    							}
							}
						}
					}
				}
			}
		}
	}
}

// Media Queries



@include media-upto-768 { 

	#team {

		.content {

			.inner {
		
				padding: 20px;
				max-width: 640px;

				ul.team {

					margin: 0 -20px -20px 0;

					> li {
						padding: 0 20px 20px 0;
						width: 50%;
					}
				}
			}
		}
	}
}

@include media-upto-990 {

	#team {

		.content {

			.inner {
		
				padding: 20px;
				max-width: 640px;

				ul.team {

					> li {
						width: 50%;
					}
				}
			}
		}
	}

}

@include media-upto-625 {

	#team {

		.content {

			.inner {

				margin: 0 auto;

				ul.team {

					> li {
						padding: 0;
						width: 100%;

						img {
							width: 50%;
							max-width: 125px;
							float: left;
							padding: 0 10px 10px 0;
						}

						.inner {
							padding: 28px 10px 10px 10px;
						}

						ul:before {
							clear:both;
							content:" ";
							display:block;
							height: 0px;
						}
					}
				}
			}
		}
	}
}