#content-block {

	ul.block {

		list-style-type: none;

		li {
			background-size: cover !important;
			background-position: center center !important;
			color: $white;
			font-family: $font1;

			.inner {

				.content {
					h2, h3 {
						margin-bottom: 0.5em;
					}
					h3 {
						font-family: $font1;
						font-size: 16px;
					}
				}
			}
		}
	}

	.content {
		max-width: 400px;
	}
}

// Media Queries

@include media-upto-768 {

	#content-block .content {
		width: 50%;
	}
}