#feature {
	background-color: #f1f1f1;
	//padding-top: 100px;

	.inner {

		.content {
			font-family: $font1;
		}
	}
}

// Media Queries

@include media-upto-768 {

	#feature .content {
		width: 50%;
	}
}

@include media-upto-800 {

	#feature {
		padding-top: 0;
	}	
}