.nav__top-level {
	grid-column: 1/-1;
	width: 100%;
	height: 100%;
	background: white;
	// background: ;
}




a.nav_is-left {
	align-self: end;
	padding: 0 0 0 45px;
	margin: auto 0;
	background: #00B398;
}

ul.nav_is-right {
	grid-column: 4/-1;
	margin: auto 45px auto auto;

	> li {
		// for dropdown
		position: relative;
		float: right;
		border-right: solid 1px;
	}

	> li:last-child { border-left: solid 1px; }

}

ul.nav__second-level {
	display: hidden;
	transition: all 0.5s ease;
	opacity: 0;
	position: absolute;
	left: 0;
	background: white; //todo
	padding: 0;

	& > li {
		float: left;
		width: 100%;
	}
}

ul li:hover > ul,
ul li ul:hover {
	visibility: visible;
	opacity: 1;
	display: block;
	// background: #00B398;
	
	& > a {
		color: white;
	}
}