.nav__link {
	z-index: 1;
}


#nav__primary {
	position: relative;
}



.nav__top-level {
	@extend %g-12;
	grid-column: 1/-1;
	width: 100%;
	background: white;
}



a.nav_is-left {
	grid-column: 1/4;
	align-self: end;
	margin: auto -6px auto 0;
	background: #00B398;
	@include media('≥1134px') { padding: 0 0 0 45px; }
	@include media('<1134px') { 
		padding: 4px 0px 0 16px; 
		grid-column: 1/3; 
	}
}



.nav__logo {
	
	margin: auto 0;
	padding: 8px 0;

	@include media('≥900px') { width: 110px; }
	@include media('<900px') { width: 30px; }
}



ul.nav_is-right {
	@include media('<1134px') { display: none; }
	grid-column: 4/-1;
	margin: auto 65px auto auto;

	> li {
		// for dropdown
		float: right;
		border-right: solid 1px $grey__light-tint;
		padding: 2px 14px;
		position: relative;
	}

	> li:last-child { border-left: solid 1px $grey__light-tint; }

	& ul { 
		position: absolute;
		top: 32px;
		}
}

// // //

#nav__mobile-button,
.nav__mobile-contents {
	cursor: pointer;
	@include media('≥1134px') {	display: none;}
	float: right;
}



button#nav__mobile-button { 
	@extend %no-drop-shadow; 
	// float: right;
}


.nav__mobile-button {
	grid-column: -5/-1;
	margin: auto 25px auto auto;
	border: solid 2px $brand-primary__dark;
	padding: 4px 18px;
	color: $brand-primary__dark;
	background: white; //todo
	transition: all 0.125s;
	
	&_is-active {
		color: white; //todo
		background: $brand-primary__green;
		border: solid 2px $brand-primary__green;
		transition: all 0.125s;
	}

	@include media('<500px') { margin: auto 10px auto auto; }
}




.nav__mobile-contents.nav__mobile-contents_is-active { 
	display: block; 
	padding: 0 43px 0 53px; //43 is 18+25 (padding and margin of menu button)
	width: 100%;
}



.nav__mobile-contents { 
	display: none; 
	float: left;
	// margin: 0 16px;
	background: white; //todo

	& > li {
		// float: right;
		border-top: solid 1px $grey__light-tint;
		padding: 14px 4px;
		}
	
	& a {  //increase the size of the a tag to match the size of its parent li   
   		display: block;     
   		position: relative;    
   		z-index: 1; 
	}
}



ul.nav__second-level {
	transition: all 0.3s ease;
	visibility: hidden;
	display: none;
	opacity: 0;
	left: 0;
	background: white; //todo
	padding: 12px 0 0 0;
	box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.05);
	@include media('<1134px') { float: right; }

	& > li {

		@include media('<1134px') {	float: right; }
		@include media('≥1134px') { 
			float: left; 
			width: 100%;
			padding: 2px 14px 2px 25px;
			margin: 0 0 6px 0;
		}
	}
}


// allow animation effect on desktop
.nav_is-right ul.nav__second-level { display: block; }



.nav_is-right li:hover > ul,
.nav_is-right li ul:hover
 {
	visibility: visible;
	opacity: 1;
	display: block;
	
	& > a {
		color: white;
	}
}



ul.nav__mobile-contents  {

	& .nav__second-level { padding: 0 0 0 0; }

	& > li.menu__tab_is-active { background-color: $grey__x-light-tint;

		& > ul {
			display: block;
			visibility: visible;
			opacity: 1;
		}
	}
}



// override desktop styles
ul.nav__mobile-contents > li > ul.nav__second-level,
ul.nav__mobile-contents > li > ul.nav__second-level > li
 {
	float: none;
}



ul.nav__mobile-contents > li > ul.nav__second-level {
	// background: $grey__x-light-tint;
	// transition: all .25s;
	margin: 12px -4px -14px -4px;
}

ul.nav__mobile-contents > li > ul.nav__second-level > li {
	padding: 12px 0 12px 28px;
	border-top: solid 1px $grey__light-tint;
}


#nav__footer {
	text-align:center;
	width: 100%;
	height: 40px;

	> a {
		font-size: 12pt;
		background-color: rgba(255, 255, 255, 0);
		padding: 2px 14px;
	}

	a:first-child {
		border-right: solid 1px #D1D1D1;
	}

	a:last-child {
		border-left: solid 1px #D1D1D1;
	}
}