#mc_embed_signup {
	@extend %g-12;
	// background: #f0f0f0 !important; //todo
	margin: 80px 0 160px 0 !important;
}


#mc_embed_signup form {
	padding: 0 !important;
}



#mc-embedded-subscribe { 
	margin-top: 30px;
	// padding: 9px 0 7px 0;
	transition: all 0.125s !important;
}

input#mc-embedded-subscribe:active {
	color: white !important;
	background: $brand-primary__green !important;
  	border: solid 2px $brand-primary__green !important;
}