header{
	background-color: $white;
	box-shadow: 0 4px 2px -2px rgba(0,0,0,0.05);
	position: fixed;
	height: 65px;
	width: 100%;
	@include transition-1;
	z-index: 99;

	.inner {

		margin: 0 auto;
		max-width: 1120px;
		padding: 0 40px;

		.logo {
			float: left;
			padding-top: 10px;

			img {
				max-width: 131px;
				margin-top: 3px;
			}
		}

		nav {

			float: right;
			text-align: right;

			&#main {

				ul {
					line-height: 65px;
					list-style-type: none;

					li {
						display: inline-block;
						padding: 0 10px;

						&:last-child {
							padding-right: 0;
						}

						&.active{

							a {
								color: $brand-primary;
							}
						}

						a {
							color: #000;
							font-family: $font1;
							//font-weight: bold;
							//padding: 10px;
						}
					}
				}
			}
		}
	}
}

// Homepage only

body.home {

	header {
		background-color: transparent;
		box-shadow: none;
		background: rgb(255, 255, 255);
		background-color: rgba(255, 255, 255, 0.9);

		ul li.contact {
			padding: 0 !important;
			a {
				padding: 2px 10px;
				background-image: linear-gradient(-180deg, #00AA93 0%, #0CC2A9 6%, #00AA93 100%);
				border: 1px solid #00B398;
				border-radius: 6px;
				color: $white !important;
				@include transition-1;
			}
		}

		.inner nav#main ul {

			li:not(.contact) {

				&.active a {
					color: $grey-4;
				}

				&.current a {
					border-bottom: 1px solid #00B398;
				}
			}
		}
	}
}

// Media Queries

@include media-upto-990 {

	header {
		height: 65px;

		.inner {

			padding: 0 20px;

			.logo {
				padding-top: 10px
			}


		}
	}
}


@media (max-width: 650px) {
	header .inner {
		padding: 0 10px;

		.logo img {
			width: 90px;
			margin-top: 5px;
		}

		nav#main {
			float: none;
			ul li a {
				font-size: 10px;
				padding: 2px;
			}
		}
	}
	.hidden-mobile {
		display: none !important;
	}
}

@media (max-width: 700px) {
	header .inner nav#main ul > li {
		padding: 0 1px;
	}
}