.image-video { margin: 0 0 12px 0; }

.image-video > figcaption { 
	font-size: 11pt;
	margin-top: 4px; 
}



.image-video > figcaption > span { 
	font-size: 8pt;
	vertical-align: 3px;
	margin-right: 3px 
}


.image-video > h3 {
	margin: 0 0 40px 0;
	text-align: center;
}

// .embedded-image {
	// margin: 40px 0;
// }