article.g-timeline__year {
	grid-column: 1/-1;
	display: grid;
	z-index: 2;

	grid-template-columns: calc(#{$grid-gap} + 145px) 1fr;
	
	@include media('<tablet') { 
		grid-template-columns: calc(#{$grid-gap} + 90px) 1fr; 
		grid-template-rows: auto auto auto auto;
	}
	
	grid-template-rows: auto auto auto;
	grid-gap: $grid-gap;
	margin: 27px 0 0 0;
	background: white; //todo

// todo
	// &:before{
	// 	grid-column: 1/-1;
	// 	content: '';
	// 	z-index: 0;
	// 	background-color: black; //todo
	// 	margin: calc(-#{$grid-gap} - 30px) auto 0 auto;
	// 	height: calc(#{$grid-gap} + 30px);
	// 	width: 3px;
	// }

	&_first:before {
		display: none;
	}


	& > img {
		z-index: 3;
		grid-column: 1/2;
		grid-row: 1/-1;	 
		width: 145px;
		margin: $grid-gap 0 0 $grid-gap;
		border:solid 1px $grey__medium-tint;
		
		@include media('<tablet') { 
			grid-row: 1/3; 
			width: 90px; 
		}
	}


	& > span {
		grid-column: 2/-1;
		grid-row: 2/3;
		margin: -8px 0 0 0;
		padding: 0 $grid-gap 0 0;
	}


	& > ul {
		grid-column: 2/-1;
		grid-row: 3/-1;
		margin: -8px 0 0 0;
		padding: 0 $grid-gap $grid-gap 35px;
		@extend %body-copy__long;

		@include media ('<tablet') {
			grid-column: 1/-1;
			padding: $grid-gap $grid-gap $grid-gap 35px;
		}

		@include media ('<tablet') { grid-row: 4/-1; }
		@include media ('<tablet', '≥phone-plus') { grid-row: 4/-1; }

		& li {
			padding-left: 5px;
			margin-bottom: 6px;
		}
	}
}



.timeline__header_bg {
	grid-column: 1/-1;
	grid-row: 1/2;
	// display: grid;
	// grid-template-columns: repeat(12, 1fr);
	z-index: 1;
	background-color: $brand-primary__green;
	min-width: 100px;
	min-height: 100%;
}



.timeline__header_txt {
	z-index: 1;
	grid-column: 2/-1;
	grid-row: 1/2;
	color: white; //todo
	padding: 0 $grid-gap 0 0;

	& > h3 {
		margin: 14px 0 0 0;
		font-weight: 600;
		@extend %section_title;
	}

	& > span {
		font-family: $sans-stack;
		@extend %sub-section_title;
		display: inline-block;
		line-height: 1.1;
	}
}



h4.timeline__sub-title {
	font-family: $serif-stack;
	@extend %body-copy__long_1st-p;
	@include media('<tablet') { 
		margin: 0 $grid-gap;
		grid-column: 1/-1;
		grid-row: 3;
	}
}



span.timeline-summary {
	@extend %body-copy__long;
}



article.g-timeline__year.timeline__lh {
	grid-column: 1/11;

	// &:before{
	// 	grid-column: 1/-9;
	// 	content: '';
	// 	z-index: -1;
	// 	background-color: black; //todo
	// 	margin: -600px auto 0 auto;
	// 	height: 600px;
	// 	width: 3px;
	// }
}



article.g-timeline__year.timeline__rh {
	grid-column: 3/-1;
}