<div id="paypal-basket">
	<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="EHPZKEYRBQ6UE">
		<table>
			<tr><td class="paypal-title"><input type="hidden" name="on0" value="Buy with PayPal, ship to:">Buy with PayPal, ship to:</td></tr>
			<tr><td>
				<select class="paypal-dropdown" name="os0">
				<option value="UK">UK £10.00 GBP</option>
				<option value="Worldwide">Worldwide £13.50 GBP</option>
				<!-- <option value="additional copy">additional copy £8.00 GBP</option> -->
			</select> 
			</td></tr>
		</table>
	<input type="hidden" name="currency_code" value="GBP">
	<input class="paypal__button" type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
</form>
	<div class="shipping-details">
		<p class="shipping-details__text-title"></p>
		<ul class="shipping-details__text">
			<li>All orders are sent within 2 days or receiving payment</li>
			<li>Shipping is second class</li>
			<li>For multiples or bulk, please <a href="/contact-us">contact us</a></li>
		</ul>
	</div>
</div>