<section id="timeline">
  <div class="content">
    <div class="inner">
      <div class="intro">
        <h2>Evolution</h2>
        <br>
        <p>Background to Our Approach</p>
      </div>
        {% for event in site.timeline %}
        <div 
        {% if forloop.first %} class="box first"
          {% else %}
            class="box animate"
        {% endif %}>
          <div>
            <!-- todo fix this awful markup -->
            <div class="image">
              <img src="{{ event.image }}">
            </div>
            <div class="details">
              <h2>{{ event.published }}: {{ event.title }}</h2>
              <h3>{{ event.subtitle}}</h3>
              {{ event.content }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>