<figure class="{{ include.is_proud-flush-inset }} image-video">
	<div class="u-responsive-ratio-16x9">
		<iframe style="width: 100%; height: 100%;" class="embeded-video"
			src="https://www.youtube.com/embed/{{ include.video-id }}" 
			frameborder="0" 
			allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
			allowfullscreen>
		</iframe>
	</div>
	<figcaption class="{{include.caption-position}}"><span>▲</span>{{ include.caption }}
		<span class="attribute"><br>{{ include.attribute }}</span>
	</figcaption>
</figure>