%g-gap-1 {
	@include media('≥tablet') {
		grid-gap: $grid-gap;
	}
	@include media('<tablet', '≥phone-plus') {
		grid-gap: 12px;
	}

	@include media('<phone-plus') {
		grid-gap: 6px;
	}
}



.g-12,
%g-12 {
	display: grid;
	grid-column: 1/-1;
	grid-template-columns: repeat(12, 1fr);
	@extend %g-gap-1;
}


// .g-in-depth {

// 	@include media('≥1000px') {
// 		grid-template-columns: repeat(2, 1fr ) 800px repeat(4, 1fr);
// 	}


// 	@include media('≥phone-plus', '<1000px') {
// 		grid-template-columns: 1fr 300px repeat(10, 1fr);
// 	}


// 	@include media('<phone-plus') {
// 		grid-template-columns: 1px repeat(10, 1fr) 1px;
// 	}
// }