// content must be nested inside the element on which the aspect ratio is called

// aspect-ratios
%is-ratio_1to1
.is-ratio_1to1 {
	@include aspect-ratio(1, 1);
}

// 
.image-medium {
	width:  $medium-image-size;
	height: $medium-image-size;
}

.image-bg {
	position: relative;
	background-size: cover; 
	background-repeat: no-repeat;
	background-position: center center;
}