.image-block {
	grid-column: 4/-4;
}



.centred-image_w-title {

}



.double-image-block {
	grid-column: 2/-2;
	display: flex;
	justify-content: center;
}



.banner {
	grid-column: 1/-1;
}



.banners {
	
}



.in-body__icon {
	float: left;
	margin: 0px 0px 0 0;
	max-width: 80px;
	height: 100%;
}


p.in-body__icon-text {
	margin: auto 0 auto 16px;
	padding-bottom: 13px;
	font-family: futura-pt, sans-serif;
	line-height: 1;
	font-weight: 400;
	// font-size: 200px;
    @extend %sub-section_title;
	// @extend %sub-section_title;
}



.in-body__image {
	float: left;
	margin: 10px 16px 0px 0;
	max-width: 201px;

	@include media('<phone-plus') { max-width: 130px; }
}



.in-body__icon-wrapper {
	display: flex;
	align-content: center;
}


// content must be nested inside the element on which the aspect ratio is called

// aspect-ratios
%is-ratio_1to1
.is-ratio_1to1 {
	@include aspect-ratio(1, 1);
}



.image-medium {

	@include media('≥500px') {
	width:  $medium-image-size;
	height: $medium-image-size;
	}

	@include media('<500px') {
		width: 90px;
		height: 90px;
	}
}



.image-bg {
	position: relative;
	background-size: cover; 
	background-repeat: no-repeat;
	background-position: center center;
}


.image-pos_is-1third-x { object-position: 33%; }
.image-pos_is-2third-x { object-position: 66%; }

// .image-pos_is-1third_y
// .image-pos_is-2third_y