.image-block {
	grid-column: 4/-4;
}

.centred-image_w-title {

}

.double-image-block {
	grid-column: 2/-2;
	display: flex;
	justify-content: center;
}

.banner {
	grid-column: 1/-1;
}

.banners {
	
}

.in-body__icon {
	float: left;
	margin: 0px 0px 0 0;
	max-width: 80px;
}

.in-body__icon-text {
	margin: auto 0 auto 16px;
	padding-bottom: 13px;
}

.in-body__image {
	float: left;
	margin: 10px 16px 0px 0;
	max-width: 201px;
}

.in-body__icon-wrapper {
	display: flex;
	align-content: center;
}