.nav__link {
	color: $brand-primary__dark;
	@extend %font-size-3;
	background-color: rgba(255, 255, 255, 0.0);
}

// .nav__link:hover {
// 	background: $grey__x-light-tint;
// }



.nav__top-level { display: flex }



nav ul li {
	list-style: none;
	padding: 0;
	margin: 0;
	transition: all 0.3s ease;
}

nav ul li:hover {
	// border-top: solid #00B398;
	background: $grey__x-light-tint; 
}



p > a {
	color: $brand-primary__dark;
	background-color: $grey__x-light-tint;
	// text-transform: uppercase;
	// font-feature-settings: 'caps' 1;
	// font-feature-settings: 'caps' 1;
}



p > a:hover { 
	border-bottom: none;
	text-decoration: none;
}

a:link { text-decoration: none; }


.feed_item__is-horizontal:hover { background: $grey__xx-light-tint; }


.link_is-disabled {
  pointer-events: none;
  cursor: default;
}