/******************************************************************
Stylesheet: Mixins & Constants
******************************************************************/

@mixin box-sizing {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

@mixin transition-1 {
    -webkit-transition: background-color 250ms linear;
    -moz-transition: background-color 250ms linear;
    -o-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin media-upto-625 {
    @media only screen and (max-width: 625px) {
        @content;
    }
}

@mixin media-upto-768 {
    @media only screen and (max-width: 768px) {
        @content;
    }
}

@mixin media-upto-800 {
    @media only screen and (max-width: 800px) {
        @content;
    }
}

@mixin media-upto-990 {
    @media only screen and (max-width: 990px) {
        @content;
    }
}