/******************************************************************
Stylesheet: Variables
******************************************************************/

$white:		#fff;

$black:		#000;

$grey: 		#ccc;
$grey-1:	#f2f2f2;
$grey-2:	#404040;
$grey-3:	#333333;
$grey-4:	#586060;
$grey-5:	#9a9c9c;
$grey-6:	#4e5252;
$grey-7:	#979797;

$blue:		#238CFF;

$orange:	#dc6638;
$orange-1:	#cc5632;
$orange-2:	#d65e33;
$orange-3:	#d86135;
$orange-4:	#cd522b;

$brand-primary: #00B398;